<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsh.dao.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.xsh.model.UserInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uname" property="uname" jdbcType="VARCHAR" />
		<result column="unumber" property="unumber" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uname, unumber
	</sql>
	<select id="selectAll" resultMap="BaseResultMap">
		select u.id, u.uname,
		u.unumber from user_info u 
	</select>
</mapper>